BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
PointerAlignment: Left
ReferenceAlignment: Right
ColumnLimit: 80
IndentCaseLabels: true
BreakBeforeBraces: Attach
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
BreakBeforeTernaryOperators: true
BreakAfterTernaryOperators: false
AlignOperands: false
BinPackArguments: false
BinPackParameters: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortConditionalStatementsOnASingleLine: true
BreakBeforeBinaryOperators: NonAssignment
PenaltyBreakBeforeFirstCallParameter: 1
PenaltyBreakAssignment: 5