{
	"version": "0.2.0",
	"configurations": [
		{
			"name": "Warzone (Windows)",
			"type": "cppvsdbg",
			"request": "launch",
			"program": "${workspaceFolder}/build/bin/Warzone.exe",
			"args": [],
			"stopAtEntry": false,
			"cwd": "${workspaceFolder}",
			"environment": [],
			"console": "externalTerminal",
			"preLaunchTask": "Build Warzone"
		},
		{
			"name": "Warzone (Mac)",
			"type": "cppdbg",
			"request": "launch",
			"program": "${workspaceFolder}/build/bin/Warzone",
			"args": [],
			"stopAtEntry": false,
			"cwd": "${workspaceFolder}",
			"environment": [],
			"externalConsole": true,
			"MIMode": "lldb",
			"preLaunchTask": "Build Warzone"
		},
	]
}